@import url("https://fonts.googleapis.com/css2?family=Tangerine");

/* base styles */
* {
  margin: 10 px;
  font-family: 'Tangerine';
  color:black;
}

.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;
  border: burlywood;
  border-bottom: 1px solid burlywood;
}

.navbar h1{
  color: blue;
  align-items: center;
  align-content: center;
}

.navbar .links {
  margin-left: auto;
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color: blue;
}

.content{
  max-width: fit-content;
  margin:auto;
  padding: 5px;
}

.blog-preview{
  margin: 5px;
  padding: 5px;
  border-bottom: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px cornflowerblue;
}

.blog-preview h2{
  color: blue;
  align-content: left;
  margin-bottom: 8px;
}